*{
    margin: 0;
    padding: 0;
}
:root{
    --background: #09090B;
    --primary: #FAFAFA;
}
body{
    position: fixed;
    width: 100dvw;
    height: 100dvh;
    background-color: var(--background);
    z-index: 0;
}
.backgroundLight{
    position: fixed;
}